@import url('./footer.css');
@import url('./diceButton.css');
@import url("./dice.css");
@import url('./playerList.css');
@import url("./normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Open+Sans:wght@800&display=swap');
@import url("./header.css");
@import url("./inputName.css");
/* @import url("./littleButtons.css"); */
@import url("./buttons.css");

body{
    background-color: white;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 600px;
    margin: auto;
}



