@import url('./playerList.css');
@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Open+Sans:wght@800&display=swap');


html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */  
}
*, *:before, *:after {
    box-sizing: inherit;
}